.inputContainer {
  display: flex;
  width: 952px;
  gap: 12px;
  padding-top: 12px;
}

.input {
  flex-basis: 205px;
}

.animaionContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  padding-top: 85px;
}

.elementContainer {
  display: flex;
  align-items: center;
}
.arrowContainer {
  margin-left: 10px;
}
